.menu-tabs{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
}
.menu-tabs ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0.5rem 1rem;
    gap: 1rem;
    width: fit-content;
}
.menu-tabs li{
    cursor: pointer;
    text-wrap: nowrap;
}
/********
    display menu component
********/
.menu-page{
    min-height: 100vh;
    padding-bottom: 8rem;
}
.section-container{
    text-wrap: nowrap;
    position: relative;
    top: 3.3rem;
    /* background-color: red; */
}
.section-body{
    display: grid;
    gap: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3rem;
    width: 100%;
    white-space: collapse;
    
    /* box-sizing: border-box;
    border: 1px solid green; */
}
.section-name{
    /* z-index: 100; */
    margin: 0.6rem 0 0.6rem 1rem;
    font-size: 1.6rem;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.section-description{
    min-height: 2rem;
    margin: 0 0 1rem 2rem;
    text-wrap: wrap;
}
.section-description input{
    font-size: 1.2rem;
    width: 80%;
}
.item-name{
    padding: 0.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    border-radius: calc(0.3rem - 0.0625rem) calc(0.3rem - 0.0625rem) 0 0;
}
/* .item-container.edit{gap: 0;} */
.item-container{
    box-sizing: border-box;
    border: 0.0625rem solid black;
    min-height: 8.7rem;
    width: 20rem;
    border-radius: 0.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: azure;
    cursor: pointer;
    text-wrap: wrap;
    text-align: left;
    /* margin: 0; gap: 0; padding: 0; */
}
.item-container.disabled{
    color: black;
    background-color: azure;
    cursor: default;
    pointer-events: none;
}
.item-name{
    text-overflow: ellipsis;
}
.item-description{
    /* box-sizing: border-box; */
    /* border: 1px solid blue; */
    overflow: scroll;
    scrollbar-width: none;
    padding: 0.15rem 0.25rem 0 0.25rem;
    height: 4.32rem;
}
.item-description.edit{
    /* border: 1px solid green; */
    
    /* flex: 1; */
    overflow: scroll;
    scrollbar-width: none;
    /* padding: 0.15rem 0.25rem; */
}
/*****
    edit menus
*****/
.display-menu{
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    border: 0.0625rem solid black;
    border-radius: 0.2rem;
    height: 100%;
    padding-bottom: 4rem;
    background-color: bisque;
}
.menu-name{
    display: flex;
    justify-content: flex-start;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(72, 71, 70);
}
.menu-name input{
    font-size: 1.2rem;
}

.section.edit{
    top: 0;
}
.section-name.edit{
    font-size: 1.2rem;
}
.item-description textarea{
    width: 100%;
    padding: 0 0.2rem;
    height: 4rem;
    resize: none;
    scrollbar-width: none;
}
.new-item{
    /* border: 1px solid red; */
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    margin: 0.3rem;
}
.new-item label{
    /* border: 1px solid blue; */
    margin-right: 0.4rem;

}
.new-item button{
    /* border: none; */
    background-color: transparent;
    border: 0.0625rem solid black;
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    margin-right: 3rem;
}
.item-button{
    display: flex;
}
.item-button button{
    cursor: pointer;
}
.section-name input{
    font-size: 1.2rem;
    height: 1.8rem;
}
.item-name button{
    display: flex;
    align-items: center;
    padding: 0 0.2rem;
    background-color: transparent;
    border: 0.125rem solid;
    border-radius: 1rem;
    margin-right: 0.2rem;
}
.item-name input{
    font-size: 1rem;
}
.tabs{
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
}
.tab-titles{
    display: flex;
    margin: 0.4rem 0;
    padding: 0.1rem 0.3rem;
    justify-content: space-between;
}
.tab-titles button{
    border: none;
    /* margin: 0 0.3rem; */
    cursor: pointer;
    background-color: transparent;
}
.tab-container{
    padding: 0.3rem;
    /* height: 100%; */
    border: 1px solid;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
.tab-content{
    display: flex;
    /* justify-content: space-between; */
}
.tab-content{
    display: flex;
    flex-direction: column;
}
.tab-content button{
    background-color: transparent;
    margin: 0.3rem;
    padding: 0 0.18rem;
    border-radius: 1rem;
    box-shadow: none;
}
.item-name.tab{
    /* border: 1px solid green; */
    padding: 0.2rem 0;
    background-color: transparent;
    align-items: center;
    align-content: center;
}
.item-name button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.2rem;
    /* margin-top: 0; */
}
.item-button.tab{
    align-items: center;
    padding-bottom: 0.2rem;
}
.price{
    /* border: 1px solid green; */
    padding-right: 0.3rem;
}
.tab-value{
    padding: 0.3rem;
}
/****
display schedule
****/
.schedule{
    /* background-color: azure; */
    cursor: default;
    padding: 1rem;
    width: calc(100% - 0.125rem);
    overflow-y: scroll;
    scrollbar-width: none;
}
.schedule ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.schedule ul li{
    text-wrap: nowrap;   
    width: inherit;
    cursor: default;
}
.name{
    font-weight: 600;
}
li:hover{
    background-color: inherit;
}
/***  
    window breaks
****/
/***display menu ***/
@media (max-width: 1240px) {
    .section-body{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width: 838px) {
    .menu-page{
        width: 100%;     
        /* background-color: red; */
    }
    .section-body{
        margin-left: 1rem;
        /* margin: 0; */
        gap: 1rem 0;
    }
    .schedule ul{
        flex-direction: column;
    }
}
@media (max-width: 750px){
    .seciton-body{
        margin: 0;
    }
}
@media (max-width: 700px) {
    .section-body{
        /* background-color: green; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .item-container{
        width: 25rem;
    }
}
@media (max-width: 560px) {
    .menu-tabs ul{
        gap: 0.5rem;
        font-size: 1rem;
    }
    .display-menu{
        width: 100%;
        /* margin: 1rem; */
        margin: 0;
    }
    .section-name{
        height: 4rem;
    }
}
/* @media(max-width: ) */
@media (max-width: 450px) {
    .item-container{
        width: 20rem;
    }
}
/** menus page **/

/**edit menus **/