.menu-tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0.5rem 1rem;
    gap: 1rem;
}
.menu-tabs ul{
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: row;

    /* gap: 1rem; */
}
.menu-tabs li{
    cursor: pointer;
    text-wrap: nowrap;
}

/********
    display menu component
********/
.menu-page{
    background-color: bisque;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 8rem;
}
.section{
    text-wrap: nowrap;
    position: relative;
    top: 3.3rem;
}
.section-container{
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3rem;
    /* box-sizing: border-box;
    border: 1px solid green; */
}
.section-name{
    /* z-index: 100; */
    margin: 0.6rem 0 0.6rem 1rem;
    font-size: 1.6rem;
}
.item-name{
    padding: 0.5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    border-radius: calc(0.3rem - 0.0625rem) calc(0.3rem - 0.0625rem) 0 0;
}
.item-container{
    box-sizing: border-box;
    border: 0.0625rem solid black;
    height: 8rem;
    width: 20rem;
    border-radius: 0.3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: azure;
    cursor: pointer;
    text-wrap: wrap;

}
/* .item-container button{
    cursor: pointer;
}
.item-container button:disabled{
    cursor: default;
} */
.item-container.disabled{
    color: black;
    background-color: azure;
    cursor: default;
    pointer-events: none;
}

.item-description{
    overflow: scroll;
    scrollbar-width: none;
    padding: 0.15rem 0.25rem;
}
/****
display schedule
****/
.schedule{
    background-color: azure;
    cursor: default;
    padding: 1rem;
}
.schedule ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.schedule ul li{
    text-wrap: nowrap;   
    width: inherit;
    cursor: default;
}
.name{
    font-weight: 600;
}
li:hover{
    background-color: inherit;
}
/*****
    edit menus
*****/
.display-menu{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 0.0625rem solid black;
    border-radius: 0.2rem;
    height: 100%;
    padding-bottom: 4rem;
}
.menu-name{
    display: flex;
    justify-content: flex-start;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(72, 71, 70);
}
.menu-name input{
    font-size: 1.2rem;
}
.section.edit{
    top: 0;
}
.section-name.edit{
    font-size: 1.2rem;
}

/***  
    window breaks
****/
/***display menu ***/
@media(max-width: 1200px){
    .section-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media(max-width: 815px){
    .menu-page{
        width: 100vw;     
    }
    .section-container{
        margin-left: 1rem;
        gap: 1rem 0;
    }
    .schedule ul{
        flex-direction: column;
    }
}
@media(max-width: 685px){
    .section-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-container{
        width: 25rem;
    }
}
@media(max-width: 450px){
    .item-container{
        width: 20rem;
    }
}
/** menus page **/
@media(max-width: 560px){
    .menu-tabs{
        gap: 0.5rem;
        font-size: 0.8rem;
    }
}
/**edit menus **/