.dropdown-menu{
    /* border: 1px solid;
    box-sizing: border-box; */
    position: absolute;
    top: 2rem;
    color: black;
    right: calc(8rem);
    width: 6.6rem;
    background-color: azure;
    z-index: 12;
    cursor: pointer;
}
.dropdown-menu li{
    text-align: center;
    text-wrap: nowrap;
    height: 1.4rem;
}
.dropdown-menu li:hover{
    background-color: rgb(172, 227, 227);
}
@media(max-width: 600px){
    .dropdown-menu{
        right: 5rem;
    }
}